@media screen and (min-width: 600px) {

.hero {
    width: 100%;
    height: auto;
}

.container {
    position: relative;
    text-align: center;
    width: 100%;
}

.data-info {
    position: absolute;
    top: 16px;
    left: 30px;
}
}