:root {
    --primary-color: #fa761e;
    --secondary-color: #FE9920;
    --accent1-color: #B9A44C;
    --accent2-color: #566E3D;
    --accent3-color: #948392;
    --padding: 1rem;
    --border: 1.5px solid #948392;
}

body {
    font-family: 'Lato', 'Roboto', sans-serif;
}

header {
    background-color: var(--primary-color);
    color: white;
    padding: var(--padding);
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
}

header img {
    height: 40px;
    width: auto;
}

header h1 {
    margin: 0;
    text-align: center;
}

h2 {
    color: var(--accent1-color);
    text-align: center;
}

h3 {
    color: var(--accent2-color);
    text-align: center;
}

nav {
    background-color: var(--accent1-color);
    margin: o auto;
}

main {
    display: block;
    text-align: c;
}

.websites {
    margin-top: 1rem;
}

.websites ul {
    list-style-type: none;
}

.websites li {
    border: var(--border);
    border-radius: 10px;
    padding: 1rem;
    background-color: #9483927e;
}

.websites img {
    display: block;
    width: 100%;
    max-width: 400px;
    height: auto;
    
}

#menu {
    font-size: 1.5rem;
    border: 0;
    background: none;
    color: #000;
    /* position: absolute; */
    justify-self: end;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "✖️";
}

.navigation {
    background-color: var(--accent1-color);
    grid-column: 1 / 4;
    display: none;
    list-style: none;
    flex-direction: column;
}

.navigation.open {
    display: flex;
}

.navigation a {
    display: block;
    text-align: center;
    color: rgb(255, 255, 255);
    padding: 1rem;
    text-decoration: none;
    font-size: larger;
    /* width: 100%; */
}

.navigation a:hover {
    background-color: #9ed4ce;
    text-decoration: dashed;
    color: #000;
}

footer {
    background-color: var(--primary-color);
    color: white;
    padding: var(--padding);
    margin: 0 auto;
    text-align: center;
}

/* For desktop view */
@media screen and (min-width: 760px) {
    header {
        display: grid;
        grid-template-columns: 1fr auto 1fr;
        /* grid-template-columns: auto 1fr auto; */
        align-items: center;
        gap: 2.5rem;
    }

    header h1 {
        text-align: left;
    }

    .navigation {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        grid-column: auto;
        background-color: var(--primary-color);
    }

    .navigation a {
        padding: 0 1rem;
        /* color: #fff; */
    }

    #menu {
        display: none;
    }
}