body { 
    display: grid;
    grid-template: auto 1 fr auto / auto 1 fr auto;
}

header {
    padding: 20px;
    grid-column: 1 / 4;
}

nav {    
    margin: 0 auto 2rem;
	max-width: auto;
    
}

.navigation-bar {
    list-style: none;
    background-color: #302b2b;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.navigation-bar li {
	flex: 1 1 auto;
}

.navigation-bar a {
    display: block;
    color: #eee;
    padding: 0.75rem;
    text-decoration: none;
    text-align: center;
}

main {
    grid-column: 1 / 3;
    background-color: cadetblue;
    height: 80px;
    padding: 15px;

}

aside {
    grid-column: 3 / 4;
    height: 80px;
    padding: 15px;
}

footer {
    grid-column: 1 / 4;
}