@media (min-width: 600px) {
	header {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

    #menu {
		display: none; 
	}

    /* nav {
        flex-direction: row;
    } */

	/* nav ul {
		display: flex;
		justify-content: flex-end;
		flex-direction: row;
	} */

	.navigation {
		display: flex;
		flex-direction: row;
		list-style: none;
		text-decoration: none;
	}
	.navigation a {
        /* display: block; */
		padding: 1rem;
		flex: 1 1 100%;
	}
}