@media (min-width: 740px) {
	header {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

    #menu {
		display: none; 
	}

    nav {
        flex-direction: row;
    }

	.navigation ul {
		justify-content: flex-end;
		flex-direction: row;
	}
	.navigation a {
        display: block;
		flex: 1 1 100%;
	}
}